{% extends "MyindexdCatalogBundle:Default:layout.html.twig" %}

{% block content %}
    <h1 style="margin: 0; text-align: center;">{{ product.title }}</h1>
    <h3>{{ product.description }}</h3>
    <h3>Price: {{ product.price }}</h3>
{% endblock %}